//  Colors
$blue: #4066a5;
$black: #131821;
$darkGrey: #6a707b;
$lightGrey: #e3e3e4;
$lightBlue: #f2f5fa;

//  Fonts
$headingFont: Georgia, 'Times New Roman', Times, serif;
$contentFont: Arial, Helvetica, sans-serif;
